body{
	color:#333333;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin:auto;
	width:940px;
    }

 h1 {
 	   padding-left:10px;
     background-image: url(../img/sobre-background.jpg);
     border-radius:5px;
    }

 h2 {
 	   margin-top:30px;
     border-bottom: 2px solid #333333;
    }

 figure
    {
     padding: 15px;
     border-radius:5px;
     background-color:#F2EDED;
     border: 1px solid #CCC;
     text-align:center;
    }
    video{
      margin:auto;
    }

  #centro-distribuicao {
   margin-left: auto;
   margin-right: auto;
   width: 550px;
 }
  #familia-pelho {
         float: left;
         margin: 0px 10px 0px 0px;
}

  #rodape {
  color: #777;
  margin: 30px 0;
  padding: 30px 0;
 }

  figcaption
   {
   	 margin-top:5px;
     font-style:italic;
   }

 p {
 	 padding: 0 45px;
     text-align:justify;
   }
   p::first-letter {
    font-weight: bold;
  }
  .menu-departamentos li ul {
    display: none;
  }
 
  .menu-departamentos li:hover ul {
    display: block;
  }
 
  .menu-departamentos ul ul li {
    background-color: #DCDCDC;
  }
   